/* https://dribbble.com/shots/10843336-Calculator-DailyUI-004 */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
:root {
  --color-navy: #323851;
  --color-navy2: #493e52;
  --color-light-pink: #e4d0c5;
  --color-gray: #616478;
  --color-red-orange: #d58b79;
  --color-light-gray: #dedde1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  max-width: 400px;
  width: 50%;
  min-width: 320px;
  aspect-ratio: 9/16;
  background-color: var(--color-navy);
  border-radius: 16px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.display-container {
  border: 4px solid var(--color-red-orange);
  background-color: var(--color-navy2);
  color: var(--color-light-pink);
  font-size: min(32px, max(16px, 4vw));
  border-radius: 16px;
  height: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 16px;
}

.buttons-container {
  height: 80%;
  min-width: 275px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
  flex: 1;
}

.button {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 4px solid var(--color-light-gray);
  background-color: var(--color-gray);
  color: var(--color-light-gray);
  font-size: min(20px, max(3vw, 12px));

  &:hover {
    background-color: var(--color-light-gray);
    color: var(--color-gray);
    border: 4px solid var(--color-gray);
  }

  &:active {
    background-color: var(--color-light-pink);
  }
}
.zero {
  flex-basis: 46%;
  justify-content: flex-start;
  padding-left: 26px;
}
.operator {
  background-color: var(--color-navy2);
}
.equals {
  background-color: var(--color-navy2);
  border: 4px solid var(--color-red-orange);
  color: var(--color-light-pink);
}
